.important-text {
    color: #000;
    font-weight: 700;
}

p:hover {
    color: #AC1AC6;
}

header {
    background-color: #F3A642;
    padding-bottom: 30px;
}

.header-wrapper {
    position: relative;
    max-width: 500px;
    margin: auto;
}

/*.site-menu a:hover {
    color: #FB0000;
}*/

.site-menu {
    position: absolute;
    right: 10px;
    top: 50%;
    margin: auto;
    padding: 0;
    display: inline-block;
    list-style: none;
}

.site-menu li {
    display: inline-block;
}

.site-menu a {
    font-size: 20px;
    color: #201B1B;
}

.link-menu {
    padding: 0 10px;
}

a:hover {
    color: #FB0000;
}